/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Poppins:wght@400;500;600&display=swap");

:root {
  --primary-color-dark: black;
  --primary-color-orange: #F49D3F;
  --primary-color-blue: #3992B3;
  --text-dark: #030712;
  --text-light: #6b7280;
  --extra-light: #d1d5db;
  --white: #ffffff;
  --max-width: 1200px;
  --primary-color: #1a2c50;
  --secondary-color: #f4f7fe;
  --text-dark-grey: #333333;
  --text-lighter: #767268;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  padding: calc(0.75rem + 2px) 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  background-color: var(--primary-color-orange);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--primary-color-blue); 
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}
/* -----Pages Styling */
.pages-heading {
  padding: 120px 0px 0px 50px;
  align-items: center;
  text-decoration: underline;

}
.contact-page{
  align-items: center;
  text-align: center;
  font-size: 50px;
  padding: 120px 0px 0px 50px;

  /* margin: 60px 0px; */

}
.blog-page-text{
  font-size: 17px;

}

.contact-services{
  align-items: center;
  text-align: center;
  font-size: 50px;
  margin: 0px 0px;
  padding: 60px 0px 30px;
}
/* ----End of pages styling */

@keyframes scroll {
  to {
    transform: translateX(calc(-50% - 0.5rem));
  }
}

/* ---------------------- */
/* Navbar */
nav{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06); /* box shaddow underneath the navbar */
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    position: fixed;
    /* gap: 100px; */
    /* row-gap: 10px; */
    justify-content: space-between;
    align-items: center;
    padding: 25px 100px;
    background-color: var(--white);
}
nav .nav__logo{
    margin-left: 30px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 20px;
    font-weight:500 ;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}
nav ul li a{
    color: black;
}
a.active, a:hover{
    color:var(--primary-color-orange) ;
}  
.nav__menu__btn{  

  /* margin: 30px;
  cursor: pointer;
  font-size: 1.5rem;
    display: none; */

}
.checkbtn{
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
.nav__menu__btn:hover{
  color: var(--primary-color-blue);  
}


/* WHATS */
#whats{
	background-color: #1a1a1a;
}
.whats-app {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 50px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 3px 4px 3px #999;
    right: 40px;
    z-index: 100;
}
.whats {
    margin-top: 10px;
}
/* ABOUT-US SECTION */
#about-head{
  display: flex;
  align-items: center;
/* background-color: var(--secondary-color); */
margin-bottom: 40px;

}
#about-head img{
width: 50%;
height: auto;
border-radius: 3px;
}
#about-head div{
  padding-left: 40px;
padding-right: 40px;
}
.section-p1{
  padding: 40px 80px;
}
#about-head div h1{
  margin:20px 0px 20px 0px;
  font-size: 40px;
}
#about-head div p{
 color: var(--text-light);
 text-align: justify;

}
#about-head div .btn{
  margin-top: 15px;
}


/* 
 SECTION */
#hero{
  /* background: url(src/ajyaalb.png); */
  /* height: calc(100vh - 80px); */
  /* width: 100vh; */
  /* height: 100vh; */
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px 100px;
  display: flex;
   align-items: center;
   justify-content: space-around; 
   /* background-color: var(--secondary-color); */
}
.hero-content h2{
  color: var(--primary-color-blue);
  margin-bottom: 5px;

}
.hero-content h1{
  font-family: "Lemon-Regular";
  font-weight: 400;
  font-size: 54px;
  width: 400px;

}
.hero-content h1 span{
  /* color: #ef5e41; */
  color: var(--primary-color-orange);
  text-align: center;
  align-items: center;
}
.hero-content p{
  margin: 20px 0px;
  color: var(--text-light);
}

/* ------------------------------------ */
/* Testimonials */
.section__container-testimonial{
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
  /* background-color: var(--secondary-color); */
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.section__container{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  text-align: center;
}
.header{
  margin-bottom: 2rem;

}
.header p{
  /* letter-spacing: 2px; */
  font-size: 1rem;
  font-weight: 500;
  margin: 15px 0px 0px 0px;


}
.header h1{
  font-family: 'Noto Serif', serif;
  font-size: 2rem;
  font-weight: 900;
  margin: 0px 0px 30px 0px;

}
.testimonials__grid{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;
}
.card{
  padding: 2rem;
  display: grid;
  gap: 1rem;
  /* background-color: var(--extra-light); */
  border-radius: 5px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, .1);
  cursor: pointer;
}
.card i{
  font-size: 2.5rem;
  color: var(--primary-color-orange);

}
.card p{
    font-size: 1rem;
    font-weight: 500;
}
.card hr{
  width: 40px;
  margin: auto;
  color:  var(--text-lighter);
}
.card img{
  width: 60px;
  margin: auto;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
}
.card .name{
  font-size: .9rem;
  font-weight: 400;
  color: var(--text-lighter);
  transition: .3s;
  margin: 0;
  gap: 0rem;


}
.card .name span{
 color: var(--text-dark);


}
.card .name:hover{
  color: var(--primary-color);

}

.footer h4{
  color: var(--primary-color-orange);
}
.footer p{
  /* max-width: 450px; */
}
.footer .btn{
  margin-top: 20px;
}
/* ------------------------------------ */
/* SERVICES SECTION */
#services{
	margin: 0px 0px;
  /* background-color: var(--primary-color-orange); */
  /* background-color: var(--primary-color-orange); */
  padding: 20px ;
  /* background: #F49D3F; */
background: linear-gradient(90deg, rgba(244, 157, 63, 1) 0%, rgba(42, 123, 155, 1) 50%, rgba(244, 157, 63, 1) 100%);

}
.heading-services{
	margin-top:0px ;
	text-align: center;
	font-family: 'Poppins',sans-serif;

}
.heading-services h2{
	font-family: serif;
  font-size: 40px;
  padding: 50px 0px 10px 0px;
}

.services{
	margin: 35px 30px;
	display: flex;
	/* justify-content:space-evenly; */
	/* width: 100%; */
}
.service {
	padding: 10px;
	text-align: center;
	width: 50%;
}
.service img{
	/* font-size: 40px; */
	margin-bottom: 20px;
  width: 30%;
}

.service h3 {
	margin-bottom: 15px;
}
.service p {
	justify-content: flex-start;
  /* color: var(--text-light); */
}


/* ------------------------------------ */
/* Country section */
#about-country{
  display: flex;
  align-items: center;
/* background-color: aliceblue; */
}
#about-country img{
  width: 50%;
  height: auto;
border-radius: 3px;
/* box-shadow: 10px 10px 5px rgb(85, 90, 92);     */
/* box-shadow: 20px 20px 50px 15px grey; */
}
#about-country div{
  padding-left: 40px;
padding-right: 40px;
}
.about-country h2{
  font-size: 40px;
  margin-bottom: 20px;

}
.about-country p{
  margin: 10px 0px;
  color:var(--text-light);
  text-align: justify;


}
.about-country p span{
  color: var(--primary-color-blue);
  font-weight: 500;
  justify-content: baseline;

}
.about-country button{
  font-weight:500 ;
}


/* ------------------------------------ */
/*---Contact Section Starts here--*/
#contact{
  background-color: var(--secondary-color);
}
.contact-left{
	flex-basis: 35%;

}
.contact-right{
	flex-basis: 65%;

  
}
.contact-left p{
	margin-top: 30px;
	font-size: 20px;

}
.contact-left p i{
	/* color: var(--blue); */
	margin-right: 15px;
	font-size: 25px;
}
.contact-us-heading{
  align-items: center;
  text-align: center;
  font-size: 50px;
  margin: 60px 0px;
  padding-top: 40px;

}
.sub-title{
  /* color: var(--primary-color-blue); */
  font-size: 25px;
}
.fa-envelope{
  color: var(--primary-color-orange)  ;
}
.fa-phone{
  color: var(--primary-color-orange);
}
.fa-x-twitter{
  /* color: var(--primary-color-orange); */

}
.fa-facebook{
  /* color: #3b5998; */

}
.fa-square-instagram{
  /* background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%); */
}
.social-icons ul {
	margin-top: 30px;
}
.social-icons a {
	font-size: 30px;
	margin: 0 10px;
	color:var(--blue) ;	
	text-decoration: none;
	/* color:var(--white) ; */
}
.social-icons ul li{
	list-style: none;
	display: inline-block;
	transition:transform 0.5s;
}
.social-icons ul li:hover{
	transform: translateY(-5px);
}
.social-icons a:hover{
	/* color:var(--primary-color-blue) ; */
}
.btn.btn2{
	display: inline-block;
	/* background-color: var(--blue); */
	margin-top: 30px;
}
.contact-right form{
	width: 100%;
}
form input, form textarea{
	width: 100%; 
	/* border:#030712; */
	outline: none;
	margin: 15px 0;
	/* background: var(--darkblue); */
	padding: 15px;
	/* color: var(--primary-color-blue); */
	font-size: 18px;
	border-radius: 6px;
  /* border-style: inset; */
  border-width: 1px;
  border: 1px solid var(--extra-light);

}
form .btn2{
	padding: 14px 60px;
	font-size: 18px;
	cursor: pointer;
	margin-top: 20px;
}
.container{
	padding: 10px 5%;
}
.row{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#msg{
	color: green;
	margin-top: 8px;
	display: block;
}

/* ------------------------------------ */
/* FOOTER */
.copyright{
	width: 100%;
	text-align: center;
	/* background: var(--darkblue); */
	padding: 25px 0;
	font-weight: 300;
	margin-top: 30px;
  /* border-top:var(--text-light) solid 0.5px; */
  border-top: 1px solid var(--extra-light);
  background-color: var(--white);
  

  /* border-top:var(--primary-color-orange) solid 0.5px; */
}
.copyright i{
	/* color:var(--blue) ; */
}

/* MOBILE---------------------------------RESPONSIVENESS */

@media (max-width: 1078px) {
  #hero {
    
    padding: 100px 100px;
   
}
    .img-content img{
    width: 90%;
  }
  .section-p1 {
    padding: 40px 20px;
  }
  #about-head div {
    padding-left: 40px;
    padding-right: 20px;
  }
  #about-country div {
    padding-left: 40px;
    padding-right: 30px;
}


}
@media (max-width: 958px) {
  #hero {
    padding: 130px 100px 50px 100px;
  }


}

@media (max-width: 951px) {
  
  nav {
    padding: 25px 10px;
    }
    .nav__logo{
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
    .checkbtn{
      display: block;
    }
    /* .nav__menu__btn{  
      display: block;
    } */
    nav ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: var(--primary-color-orange);
      /* background: #ef5e41; */
      top: 80px;
      /* left: 0; */
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
    }
    nav ul li a{
      font-size: 20px;

    }
    #check:checked ~ ul{
      left: 0;
      display: block;
    }
    #hero {
      padding: 130px 100px 50px 100px;
    }

    .hero-content {
      margin: 80px 0px 5px 20px;
      padding: 30px;
  }

}

@media (max-width: 925px) {
  nav {
    padding: 25px 10px;
    }
    .nav__logo{
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
    .checkbtn{
      display: block;
    }
    /* .nav__menu__btn{  
      display: block;
    } */
    nav ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: var(--primary-color-orange);
      /* background: #ef5e41; */
      top: 80px;
      /* left: 0; */
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
    }
    nav ul li a{
      font-size: 20px;

    }
    #check:checked ~ ul{
      left: 0;
      display: block;
    }
    /* ---------------------------- */
    /* HERO SECTION */
  #hero{
    padding: 100px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around;  */
  }
  .hero-content{
    margin: 80px 0px 5px 40px ;
    padding: 30px;
  }
  .hero-content h2{
    color: var(--primary-color-blue);
    margin-bottom: 5px;
  }
  .hero-content h1{
    /* font-size: 44px; */
    font-size: 34px;
    width: 400px;
  }
  .hero-content p{
    margin: 20px 0px;
  }
  .img-content{
    margin: 0px 10px 5px 10px ;
    padding: 20px 30px 30px 30px;
    align-items: center;
    text-align: center;
  }
  .img-content img{
    width: 60%;

  }
  /* --------------- */
  /* ABOUT-US SECTION */
  #about-head{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px 5px 60px 0px;
  }
  #about-head :nth-child(1) { order: 2; }

  #about-head img{
  width: 50%;
  height: auto;
  }
  #about-head div{
    padding-left: 20px;
    padding-right: 20px;
    width: 80%;

  }
  .section-p1{
    padding: 10px 10px;
  }
  #about-head div h1{
    margin:20px 0px 10px 0px;
    font-size: 30px;
  }
  #about-head div p{
  color: var(--text-light);
  }
  #about-head div .btn{
    margin-top: 15px;
  }
  /* ------------------ */
  /* Testimonial */
  .testimonials__grid{
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
  }
  /* ------------------ */
  /* SERVICES */
  .services {
    margin: 35px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .service {
    margin: 0px 0px 10px 0px;
    padding: 10px;
    width: 80%;
  }
  .service img {
    margin-bottom: 20px;
    width: 30%;
}
  .heading-services h2 {
    font-size: 34px;
  }
  /* ------------------------------------ */
  /* Country section */
  #about-country{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #about-country img{
    width: 85%;
    height: auto;
  border-radius: 3px;
  }
  .about-english :nth-child(1) { order: 2; }

  #about-country div{
    padding-left: 40px;
  padding-right: 40px;
  }
  .about-country h2{
    margin-top: 30px;
    font-size: 30px;
    margin-bottom: 20px;

  }
  #about-country img {
    /* width: 85%; */
    width: 65%;
    height: auto;
    border-radius: 3px;
}
  .about-country p{
    margin: 10px 0px;
  }
  .about-country button {
    margin-top: 10px;
}
  /* Contact us--------------- */
  .row{
    display: flex;
    flex-direction: column;
  }
  .contact-us-heading {
    font-size: 35px;
    margin: 60px 0px 30px 0px;
}
  .row :nth-child(1) { order: 2; }
  .contact-left{
    margin-top: 40px;
    align-items: center;
    text-align: center;
  
  }

  
}
@media (max-width: 600px) {
  /* Testimonial */
   .testimonials__grid{
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
  }
  .header h1 {
    font-size: 24px;
    font-weight: 900;
    margin: 0px 0px 30px 0px;
}
  
}

